.add__cart {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.add__cart__btn {
    text-decoration: none;
    padding: 0.5rem;
    background-color: var(--color-6);
    color: var(--color-2);
    border-radius: 0.5rem;
}

button:focus {
    outline: none;
}