.amount__btsn {
    display: flex;
}

.amount {
    margin: 0 1rem;
}

.amount__btn {
    background-color: var(--color-6);
    border: none;
    border-radius: 0.5rem;
    color: var(--color-1);
    width: 1.5rem;
}