.cart__total {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    background-color: var(--color-1);
    color: var(--color-6);
    border-radius: 1rem;
    box-shadow: var(--shadow-3);

}

.cart__total__sep {
    display: flex;
    justify-content: space-between;
    margin: 0 1.2rem;
}

.cart__total__btn {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-decoration: none;
    padding: 1rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-1);
    font-size: 1.5rem;
    box-shadow: var(--shadow-3);

}

.cart__link {
    text-decoration: none;
}

.cart__total__btn__check {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    text-decoration: none;
    padding: 1rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--color-11);
    font-size: 1.5rem;
    box-shadow: var(--shadow-3);
}

.cart__total__btn__check button {
    border: none;
    font-size: 1rem;
}

