.navbar__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navbar__info__p {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
}

/* .appbar {
    border-radius: 2rem;
    
} */