.product__secondary img {
    width: 2rem;
}
.product__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product__main {
    width: 90%;
    border-radius: 1rem;
    height: 15rem;
    object-fit: cover
}

 .product__secondary {
     width: 90%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.product__secondary img {
    border-radius: 1rem;
    width: 5rem;
    height: 5rem;
    object-fit: cover
}

.active {
    border: 0.1rem solid black;
}


@media only screen and (min-width: 900px) {
    .product__main {
        width: 90%;
        height: 30rem;

    }

    .product__secondary {
        width: 90%;
    }
    
}