.product__container {
    color: var(--color-1);
    margin-top: 1.5rem;
    border-radius: 1rem;
    height: 10rem;
    min-width: 6rem;
}

.product__container__footer {
    display: flex;
    justify-content: space-between;

}

.product__container h5 {
    margin: 0.5rem 0;
    color: var(--color-111);

}

.product__container img {
    height: 9rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-1);
}

@media only screen and (min-width: 900px) {
    .product__container {
        height: 20rem;
    }
    .product__container img {
        height: 18rem;
    }
}
