.sortby {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-1);
    color: var(--color-6);
    margin: 0 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    align-items: center;
    box-shadow: var(--shadow-3);


}

.sortby form {
    display: flex;
    align-items: center;
}

.sortby form select {
    padding: 0.5rem;
    border: none;
    background-color: var(--color-3);
    box-shadow: var(--shadow-3);
    border-radius: 1rem;
    margin: 0.4rem;
}

.sortby__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    /* justify-content: flex-start; */
    /* align-items: flex-start;
    align-self: start;
    align-content: flex-start;
    text-align: start;
    justify-content: flex-start; */

}


.sortby__content label {
    width: 80%;
    margin-top: 0.5rem;

}

.sortby__amount {
    margin-right: 1rem;
    margin-bottom: 0;
}


@media only screen and (min-width: 900px) {
    .sortby {
        display: flex;
        /* background-color: black; */
        /* align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
        justify-self: center; */
        /* max-width: 70rem; */
        height: 6rem;
        width: 30rem;
    }
}
